div,body,img {
  margin : 0;
  padding: 0;
  border : 0;
}
body{
  background: #80DBF8;
  min-width:370px;
}

.pageWrap {
  width     : 960px;
  margin    : 0 auto;
  min-width : 350px;
  max-width : 95%;
  background: #fff;
  padding   : 10px;
  position  : relative;
  overflow  : hidden;
}
header{
  margin       : 0 0 30px 0;
  padding      : 10px;
  border-bottom: 2px solid #80DBF8
}
.error{
  color    : red;
  word-wrap: break-word;
}

.rightCol{
  width: 50%;
  float: right;
}