<section class="contentCenterAlign">
  <h1>Story Board</h1>
  <section>
    <div class="addStotiesCnt">
      <input type="button" value="+ add story" id="addStoryBtn">
      <div id="addStoryCnt">
        <form id="addNewStoryForm" action="javascript:void(0)">
          <input required placeholder="story name" type="text"><br>
          <textarea required placeholder="Type story description here"></textarea><br>
          <select>
            <option value="1">priority</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select><br>
          <!-- <input required placeholder="estimated hours" type="text"><br> -->
          <input type="submit" value="save"><input type="reset" id="cancelAddNewForm" value="cancel">
        </form>
      </div>
    </div>
    <div id="storyContainer">
      
    </div>
  </section>
</section>
